@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root {

  --color-1: #ffffff;
  --color-2: #181f23;
  --color-3: #d3ebd5;
  --color-4: #31aea9;

  --color-white: white;

  --navbar-height: 50px;
  --container-height: 100vh;

  --icon-height: 110px;
}

html,
body {
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--color-3);
  color: var(--color-2)
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  line-height: 1.4em;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header ul {
  list-style: none;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

header ul a {
  color: var(--color-2);
}

header ul li {
  padding: 5px;
  margin-left: 10px;
}

header ul li:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

.btn {
  border: solid 1px var(--color-4);
  border-radius: 6px;
  padding: 10px 30px;
}

.contactBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  width: 180px;
  height: 64px;
  font-size: 1.3rem;
}

.contactBtn:hover {
  background-color: var(--color-4);
  color: var(--color-2);
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: var(--container-height);
  padding: 50px 10%;
}

.containerMain {
  background-color: var(--color-1);
  color: var(--color-2);
}

.mainParagraph {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 1.3rem;
  font-size: clamp(1.3rem, 0.20000000000000018rem + 2.7499999999999996vw, 2.4rem);
  height: 100%;
}

.mainParagraph * {
  margin: 20px 0;
}

.containerAcciones {
  height: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: var(--color-4);
  color: var(--color-1);
}

.header-container {
  justify-content: space-between;
}

.header-container img {
  width: 400px;
}

.footer {
  height: 20vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

}

.footer a {
  padding: 10px;
}

.footer img {
  height: 15vh
}
